#set( $ttlEpochSecs = $util.time.nowEpochSeconds() + 86400 * 7 )
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "cameraId": $util.dynamodb.toDynamoDBJson($ctx.args.cameraId),
    "ts": $util.dynamodb.toDynamoDBJson($ctx.args.ts),
    "ttl": $util.dynamodb.toDynamoDBJson($ttlEpochSecs)
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args)
}
